# PyDev specific (Python IDE for Eclipse)
*.pydevproject

*.project

#--------------------------Java-----------------------
# Compiled class file
*.class

# Log file
*.log

#Java project bin
/java_rabbitmq/bin/
